- content_for :head do
  = stylesheet_link_tag 'timer'
  = javascript_include_tag 'jquery.simple.timer.js'


.taskdisplay
  社会学レポート

.timerdisplay
  .timer.clearfix
    .hours 00:
    .minutes 25:
    .seconds 00
    .clearDiv
= image_tag("start.png", class: 'timer-button', id: "start")
= image_tag("restart.png", class: 'timer-button', id: "stop", style: "display:none;")

:javascript
  $('#start').on('click', function(){
    $('.timerdisplay').empty()
    $('.timerdisplay').append('<div class="timer clearfix" data-minutes-left="25"></div>')
    $('.timer').startTimer({
      allowPause: true
    });
    $("#start").css('display', 'none');
    $("#stop").css('display', 'block');
  });
  $('#stop').on('click', function(){
    $('.timerdisplay').empty()
    $('.timerdisplay').append('<div class="timer"><div class="hours">00:</div><div class="minutes">25:</div><div class="seconds">00</div><div class="clearDiv"></div></div>')
    $("#start").css('display', 'block');
    $("#stop").css('display', 'none');
  });
