#page_wrap{
  color: #D55C4B;
  padding-top: 46px;
}
p.plantitle{
  font-size: 14px;
}
p.todoname{
  padding: 0 0 0 20px;
}
.colorkeys{
  padding: 8px 0 0 10px;
}
.newtodotitle{
  color: #D55C4B;
  padding: 8px 0 12px 10px;
}

.row.table{
  color: #D55C4B;
}

p.times{
  width: 12%;
  margin: 12px 0 12px 10px;
  font-size: 10px;
}

.slotlist{
  padding: 0;
}

.slottable{
  padding-right: 0;
  padding-left: 20px;
  margin-left: 10px;
}

.fix{
  position: fixed;
  top: 45px;
  width: 320px;
}

p.days{
  float: left;
  width: 13.7%;
  margin: 0;
  background-color: white;
  border-width: 1px;
  padding: 3px;
  text-align: center;
}

p.slot{
  margin: 0;
  border: solid #F7F7F7;
  border-width: 0.5px;
  height: 26px;
  text-align: center;
}

input#status_{
  width: 22px;
  height: 21px;
  opacity: 0;
}

input.btn.btn-primary{
  opacity: 1;
  border-radius: 200px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #D55C4B;
  border: none;
}

p.originalBackground{
  background-color: white;
}

p.selectedBackground{
  background-color: #1abc9c;
}

p.filledBackground{
  background-color: rgba(242, 105, 100, 0.1);
}

.disabled_slot_box {
  background-color: #ddd;
}

p.slot.selectedBackground{
  font-size: 8px;
}


